body {
    background-image: url(../images/alternative-background-crystals-dark-Favim.com-2427989.jpg);
  
}

.gemOne {
   size: 10px, 10px; 
}

#gameName {
    border: solid;
    color: aliceblue;
    background-color: black; 
    padding: 10px,10px;
    margin: 1px, 1px;
    float: left;

}

#rules {
    border: solid;
    color: aliceblue;
    background-color: black; 
    width: 300px;
    height: 200px;
    padding: 50px;
    float: left;
    position: block;
    float: left;
    display: block;


}

#randomNum {
    border: solid;
    color: aliceblue;
    background-color: black; 
    width: 60px;
    height: 60px;
    position: inherit;
    padding: 50px;
    display: inline-flex;
}

#winsLosses {
    border: solid;
    color: aliceblue;
    background-color: black; 
    padding: 10px,10px;
    margin: 1px, 1px;
    display: inline-flex;
    width: 200px;
    height: 60px;
}

#gems{
    border: solid;
    color: aliceblue;
    background-color: black;
    padding: 10px,10px;
    margin: 1px, 1px;
    float: left;
    display: block;

}

.yourTotal {
    border: solid;
    color: aliceblue;
    background-color: black;
    padding: 10px,10px;
    margin: 1px, 1px;
    display: block;
    width: 200px;
    height: 20px;
}

#myScore {
    border: solid;
    color: aliceblue;
    background-color: black;
    padding: 10px,10px;
    margin: 1px, 1px;
    display: block;
    width: 200px;
    height: 60px;
    
  
}
