body {
    background-image: url(../images/alternative-background-crystals-dark-Favim.com-2427989.jpg);
  
}

.gemOne {
    background-image: url(../images/amethyst456787b.jpg);
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}

.gemTwo{
    background-image: url(../images/rsz_selenite-300x200.jpg);
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}

.gemThree {
    background-image: url(../images/1526062666-crystals2new_stevekorn-web.jpg);
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}

.gemFour {
    background-image: url(../images/Quartz\,_Tibet.jpg);
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}

#gameName {
    border: solid;
    color: aliceblue;
    background-color: black; 
    padding: 10px,10px;
    margin: 1px, 1px;
    float: left;

}

#rules {
    border: solid;
    color: aliceblue;
    background-color: black; 
    width: 300px;
    height: 200px;
    padding: 50px;
    float: left;
    position: block;
    float: left;
    display: block;


}

#randomNum {
    border: solid;
    color: aliceblue;
    background-color: black; 
    width: 60px;
    height: 60px;
    position: inherit;
    padding: 50px;
    display: inline-flex;
    text-align: center;
}

#winsLosses {
    border: solid;
    color: aliceblue;
    background-color: black; 
    padding: 10px,10px;
    margin: 1px, 1px;
    display: inline-block;
    width: 200px;
    height: 80px;
    text-align: justify;
    
}

.yourTotal {
    border: solid;
    color: aliceblue;
    background-color: black;
    padding: 10px,10px;
    margin: 1px, 1px;
    display: block;
    width: 200px;
    height: 20px;
}

#myScore {
    border: solid;
    color: aliceblue;
    background-color: black;
    padding: 10px,10px;
    margin: 1px, 1px;
    display: block;
    width: 200px;
    height: 60px;
    
  
}
